In [1]:
from ast import literal_eval
import datetime as dt
import pandas as pd
import fastparquet

In [2]:
df_steam_games = pd.read_parquet("data_parquets/df_steam_games.parquet")

In [4]:
df_users_reviews = pd.read_parquet("data_parquets/df_user_reviews.parquet")

In [6]:
df_users_items = pd.read_parquet("data_parquets/df_users_items.parquet")

1-def userdata( User_id : str ) : Debe devolver cantidad de dinero gastado por el usuario,  
el porcentaje de recomendación en base a reviews.recommend y cantidad de items.  

2- def countreviews( YYYY-MM-DD y YYYY-MM-DD : str ) : Cantidad de usuarios que realizó  
reviews entre las fechas dadas y, el porcentaje de recomendación de los mismos en base  
a reviews.recommend.  

3- def género( género : str ) : Devuelve el puesto en el que se encuentra un género sobre  
el ranking de los mismos analizados bajo la columna PlayTimeForever.  

4-def userforgenre( género : str ): Top 5 de usuarios con más horas de juego en el género dado,  
con su URL (del user) y user_id.  

5-def developer( desarrollador : str ): Cantidad de items y porcentaje de contenido Free por  
año según empresa desarrolladora. Ejemplo de salida:  
Activision  
Año     Contenido Free  
2023    27%  
2022    25%  
xxxx    xx%  

6-def sentiment_analysis( año : int ): Según el año de lanzamiento, se devuelve una lista con  
la cantidad de registros de reseñas de usuarios que se encuentren categorizados con un análisis  
de sentimiento.  
Ejemplo de retorno: {Negative = 182, Neutral = 120, Positive = 278}  


### Análisis exploratorio de los datos : (Exploratory Data Analysis-EDA)  
Ya los datos están limpios, ahora es tiempo de investigar las relaciones que hay entre las  
variables del dataset, ver si hay outliers o anomalías (que no tienen que ser errores necesariamente),  
y ver si hay algún patrón interesante que valga la pena explorar en un análisis posterior. Las  
nubes de palabras dan una buena idea de cuáles palabras son más frecuentes en los títulos,  
¡podría ayudar al sistema de predicción! En esta ocasión vamos a pedirte que no uses librerías  
para hacer EDA automático ya que queremos que pongas en práctica los conceptos y tareas involucrados  
en el mismo.  

Una vez que toda la data es consumible por la API, está lista para consumir por los departamentos de   Analytics y Machine Learning, y nuestro EDA nos permite entender bien los datos a los que tenemos acceso, es hora de entrenar nuestro modelo de machine learning para armar un sistema de recomendación. Para ello, te ofrecen dos propuestas de trabajo:  
En la primera, el modelo deberá tener una relación ítem-ítem, esto es se toma un item, en base a que tan similar esa ese ítem al resto, se recomiendan similares. Aquí el input es un juego y el output es una lista de juegos   recomendados, para ello recomendamos aplicar la similitud del coseno.  

La otra propuesta para el sistema de recomendación debe aplicar el filtro user-item, esto es tomar un usuario, se encuentran usuarios similares y se recomiendan ítems que a esos usuarios similares les gustaron. En este caso el input es un usuario y el output es una lista de juegos que se le recomienda a ese usuario, en general se explican como “A usuarios que son similares a tí también les gustó…”. Deben crear al menos uno de los dos sistemas de recomendación (Si se atreven a tomar el desafío, para mostrar su capacidad al equipo, ¡pueden hacer ambos!). Tu líder pide que el modelo derive obligatoriamente  
en un GET/POST en la API símil al siguiente formato:  

Si es un sistema de recomendación item-item:  
def recomendacion_juego( id de producto ): Ingresando el id de producto, deberíamos recibir una  
lista con 5 juegos recomendados similares al ingresado.  

Si es un sistema de recomendación user-item:  
def recomendacion_usuario( id de usuario ): Ingresando el id de un usuario, deberíamos recibir  
una lista con 5 juegos recomendados para dicho usuario.

In [3]:
# df_steam_games.head()

Index(['publisher', 'genres', 'app_name', 'title', 'url', 'release_date',
       'tags', 'reviews_url', 'discount_price', 'specs', 'price',
       'early_access', 'id', 'metascore', 'developer', 'user_id', 'steam_id',
       'items', 'items_count'],
      dtype='object')

In [4]:
# df_steam_games.tail()

In [4]:
df_users_reviews.head()

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [5]:
# df_users_items.head()

In [6]:
# print(f"Filas {df_steam_games.shape[0]} - Columnas {df_steam_games.shape[1]}")
# print(f"Filas {df_users_reviews.shape[0]} - Columnas {df_users_reviews.shape[1]}")
# print(f"Filas {df_users_items.shape[0]} - Columnas {df_users_items.shape[1]}")

In [7]:
# print(df_steam_games.columns)
# print()
# print(df_users_reviews.columns)
# print()
# print(df_users_items.columns)

In [8]:
# print(df_steam_games.info())
# print()
# print(df_users_reviews.info())
# print()
# print(df_users_items.info())

Index(['user_id', 'items_count', 'steam_id', 'user_url', 'items'], dtype='object')

1-def userdata( User_id : str ) : Debe devolver cantidad de dinero gastado por el usuario, el porcentaje de recomendación en base a reviews.recommend y cantidad de items.  

Posibles columnas:  
* user_id - df_steam_games
* price - df_steam_games
* items_count - df_steam_games
* reviews - users_reviews

In [4]:
# desanidar y separar en columnas los datos de la columna reviews de users_reviews
def extract_reviews_data(df):
    reviews = df['reviews'].explode()
    df = df.drop('reviews', axis=1)
    df = df.join(reviews.apply(pd.Series))
    return df

In [5]:
df_users_reviews = extract_reviews_data(df_users_reviews.copy())

/tmp/ipykernel_7604/2305559309.py:5: FutureWarning: Returning a DataFrame from Series.apply when the supplied function returns a Series is deprecated and will be removed in a future version.
  df = df.join(reviews.apply(pd.Series))

In [6]:
df_users_reviews.head(3)

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review,0
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,NaN
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.,NaN
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,NaN

In [7]:
# resetear el índice
df_users_reviews = df_users_reviews.reset_index(drop=True)
df_users_reviews.head()

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review,0
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,NaN
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.,NaN
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,NaN
3,js41637,http://steamcommunity.com/id/js41637,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,NaN
4,js41637,http://steamcommunity.com/id/js41637,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,NaN

In [23]:
# df_users_reviews["review"]
# df_users_reviews["review"].isnull().sum()
# df_users_reviews["review"].dtype

28

In [8]:
# Elimina la palabra "Posted" de la columna posted de user_reviews, los espacios al
# principio y al final, las comas y puntos y separamos con un guión
df_users_reviews['posted'] = df_users_reviews['posted'].str.strip()
df_users_reviews['posted'] = df_users_reviews['posted'].str[7:]
df_users_reviews['posted'] = df_users_reviews['posted'].str.replace(",","")
df_users_reviews['posted'] = df_users_reviews['posted'].str.replace(".","")
df_users_reviews['posted'] = df_users_reviews['posted'].str.replace(" ","-")

In [9]:
df_users_reviews["posted"].dtype
df_users_reviews["posted"].isnull().sum()
len(df_users_reviews["posted"])
df_users_reviews["posted"]

0         November-5-2011
1            July-15-2011
2           April-21-2011
3            June-24-2014
4        September-8-2013
               ...
59328             July-10
59329              July-8
59330              July-3
59331             July-20
59332              July-2
Name: posted, Length: 59333, dtype: object

In [128]:
# day = []
# mont = []
# year = []
# lista = df_users_reviews["posted"][0]
# lista[2]
# df_users_reviews["posted"]

In [10]:
# crear columnas mes, dia y año a partir de la columna posted
df_users_reviews[["month", "day", "year"]] = df_users_reviews["posted"].str.split('-', n=2, expand=True)

In [11]:
df_users_reviews.head(3)

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review,0,month,day,year
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,November-5-2011,,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,NaN,November,5,2011
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,July-15-2011,,22200,No ratings yet,True,It's unique and worth a playthrough.,NaN,July,15,2011
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,April-21-2011,,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,NaN,April,21,2011

In [12]:
# Diccionario de correspondencia entre meses y números
month_to_number = {
    'January': '01',
    'February': '02',
    'March': '03',
    'April': '04',
    'May': '05',
    'June': '06',
    'July': '07',
    'August': '08',
    'September': '09',
    'October': '10',
    'November': '11',
    'December': '12'
}

# Usar .map() para transformar los nombres de los meses en números de dos dígitos
df_users_reviews['number_month'] = df_users_reviews['month'].map(month_to_number)

In [14]:
# Mostrar el resultado
df_users_reviews.head()

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review,0,month,day,year,number_month
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,November-5-2011,,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,NaN,November,5,2011,11
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,July-15-2011,,22200,No ratings yet,True,It's unique and worth a playthrough.,NaN,July,15,2011,07
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,April-21-2011,,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,NaN,April,21,2011,04
3,js41637,http://steamcommunity.com/id/js41637,,June-24-2014,,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,NaN,June,24,2014,06
4,js41637,http://steamcommunity.com/id/js41637,,September-8-2013,,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,NaN,September,8,2013,09

In [15]:
# verificar nulos en la columna year
print(df_users_reviews["year"].isnull().sum())
df_users_reviews.shape
df_users_reviews.info()

10147
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59333 entries, 0 to 59332
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       59333 non-null  object
 1   user_url      59333 non-null  object
 2   funny         59305 non-null  object
 3   posted        59305 non-null  object
 4   last_edited   59305 non-null  object
 5   item_id       59305 non-null  object
 6   helpful       59305 non-null  object
 7   recommend     59305 non-null  object
 8   review        59305 non-null  object
 9   0             0 non-null      float64
 10  month         59305 non-null  object
 11  day           59305 non-null  object
 12  year          49186 non-null  object
 13  number_month  59305 non-null  object
dtypes: float64(1), object(13)
memory usage: 6.3+ MB

In [16]:
# df_users_reviews.iloc[59328, :]

In [17]:
# print(df_users_reviews["year"].describe())
# df_users_reviews[df_users_reviews["year"] == "2011"]
# count_year = df_users_reviews["year"].value_counts(normalize=False).loc["2014"]
# count_year

In [18]:
# df["year"].fillna(df["year"].mode()[0], inplace=True)
# df_users_reviews["year"] = df["year"].fillna(df["year"].mode())

# verifico cual es el año que mas repite
df_users_reviews["year"].mode()

0    2014
Name: year, dtype: object

In [19]:
# considerando el tamaño del conjunto de datos, se decide imputar el año mas repetido
df_users_reviews["year"].fillna(df_users_reviews["year"].mode()[0], inplace=True)

In [20]:
# verifico 
df_users_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59333 entries, 0 to 59332
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       59333 non-null  object
 1   user_url      59333 non-null  object
 2   funny         59305 non-null  object
 3   posted        59305 non-null  object
 4   last_edited   59305 non-null  object
 5   item_id       59305 non-null  object
 6   helpful       59305 non-null  object
 7   recommend     59305 non-null  object
 8   review        59305 non-null  object
 9   0             0 non-null      float64
 10  month         59305 non-null  object
 11  day           59305 non-null  object
 12  year          59333 non-null  object
 13  number_month  59305 non-null  object
dtypes: float64(1), object(13)
memory usage: 6.3+ MB

In [21]:
#df_users_reviews["recommend"] = df_users_reviews["recommend"].astype(int)
# df_users_reviews["recommend"] = df_users_reviews["recommend"].replace("True", 1).replace("False", 0)

In [22]:
# cambiar el tipo de dato de recommend, para esto veo el tipo de dato
print(df_users_reviews["recommend"].dtype)

# para comprobacíon de cuantos valores, cuantos únicos y la fecuencia
df_users_reviews["recommend"].describe()

object

count     59305
unique        2
top        True
freq      52473
Name: recommend, dtype: object

In [23]:
# df_users_reviews[df_users_reviews["recommend"] == "nan"].count()

user_id         0
user_url        0
funny           0
posted          0
last_edited     0
item_id         0
helpful         0
recommend       0
review          0
0               0
month           0
day             0
year            0
number_month    0
dtype: int64

In [24]:
# cambio los valores de "True" a "1" y "False" a "0"
df_users_reviews["recommend"] = df_users_reviews["recommend"].astype(str)
df_users_reviews["recommend"] = df_users_reviews["recommend"].str.replace("True","1")
df_users_reviews["recommend"] = df_users_reviews["recommend"].str.replace("False","0")
df_users_reviews["recommend"] = df_users_reviews["recommend"].str.replace("nan","1")

In [25]:
# cambio del tipo de datos de str a int
df_users_reviews["recommend"] = df_users_reviews["recommend"].astype(int)

In [26]:
# verifico el cambio
df_users_reviews["recommend"].dtype
# df_users_reviews.info()

dtype('int64')

In [28]:
# Función lambda para combinar las columnas en una fecha
df_users_reviews['date_posted'] = df_users_reviews.apply(lambda row: f"{row['year']}-{row['number_month']}-{row['day']}", axis=1)

In [30]:
# al convertir la columna a fecha, se presentan errores de filas con datos no aptos
# para pasar a fecha, la fecha 29 de febrero se detecta como mal dato, según el error
# ese año no fue bisiesto.

# se decide eliminar las fechas no aptas ya que los datos malformados como 2014-nan-None, sus otras columnas
# son mayormente nan, para el dato Febrero 29, se decide eliminar ya que son pocos y no se tiene certeza si 
# fue un error de ingreso de datos
df_users_reviews = df_users_reviews.query("date_posted != '2014-nan-None'")
df_users_reviews = df_users_reviews.query("date_posted != '2014-02-29'")

In [39]:
# cambiar el tipo de dato de str a date de la columna date_posted
df_users_reviews["date_posted"] = df_users_reviews["date_posted"].astype("datetime64[ns]")

In [40]:
# verificar el cambio
df_users_reviews["date_posted"].dtype

dtype('<M8[ns]')

In [47]:
# eliminar columnas innecesarias
df_users_reviews = df_users_reviews.drop(['funny', 'posted', 'last_edited', 'item_id', 0, 'month', 'day', 'year', 'number_month'], axis=1)

In [48]:
df_users_reviews.head(2)

,user_id,user_url,helpful,recommend,review,date_posted
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,No ratings yet,1,Simple yet with great replayability. In my opi...,2011-11-05
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,No ratings yet,1,It's unique and worth a playthrough.,2011-07-15

In [50]:
df_users_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59280 entries, 0 to 59332
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      59280 non-null  object
 1   user_url     59280 non-null  object
 2   helpful      59280 non-null  object
 3   recommend    59280 non-null  int64
 4   review       59280 non-null  object
 5   date_posted  59280 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 3.2+ MB

In [27]:
# df_users_reviews.iloc[840, :]

In [31]:
# df_users_reviews = df_users_reviews.drop([137, 176])
# df_users_reviews = df_users_reviews.drop([841])
# df_users_reviews = df_users_reviews.query("date_posted != '2014-nan-None'")
# df_users_reviews = df_users_reviews.query("date_posted != '2014-02-29'")

In [79]:
# df_users_reviews[df_users_reviews["date_posted"] == "2014-nan-None"]
# df_users_reviews[df_users_reviews["date_posted"] == "2014-nan-None"].count().sum()
# df_users_reviews[df_users_reviews["date_posted"] == "2014-nan-None"].count()
# df_users_reviews[df_users_reviews["date_posted"] == "2014-02-29"].count()
# df_users_reviews["date_posted"] = pd.to_datetime(df_users_reviews["date_posted"], format="%Y-%m-%d")
# df_users_reviews.loc[ : , "date_posted"] = pd.to_datetime(df_users_reviews.loc[ : , "date_posted"], format="%Y-%m-%d")

In [46]:
# eliminar columnas innecesarias
# df_users_reviews = df_users_reviews.drop(['funny', 'posted', 'item_id', 0, 'month', 'day', 'year', 'number_month'], axis=1)
# df_users_reviews.drop(['last_edited'], axis=1, inplace=True)

In [52]:
df_steam_games.shape

(120445, 19)

In [51]:
df_steam_games.columns

Index(['publisher', 'genres', 'app_name', 'title', 'url', 'release_date',
       'tags', 'reviews_url', 'discount_price', 'specs', 'price',
       'early_access', 'id', 'metascore', 'developer', 'user_id', 'steam_id',
       'items', 'items_count'],
      dtype='object')

In [56]:
print(df_users_items.columns)
df_users_items.shape

Index(['user_id', 'items_count', 'steam_id', 'user_url', 'items'], dtype='object')

(88310, 5)

In [137]:
df_steam_games.info()
# df_steam_games.sample(frac=1)

<class 'pandas.core.frame.DataFrame'>
Index: 120445 entries, 0 to 120444
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   publisher       24073 non-null  object
 1   genres          28852 non-null  object
 2   app_name        32133 non-null  object
 3   title           30085 non-null  object
 4   url             32135 non-null  object
 5   release_date    30068 non-null  object
 6   tags            31972 non-null  object
 7   reviews_url     32133 non-null  object
 8   discount_price  225 non-null    float64
 9   specs           31465 non-null  object
 10  price           30758 non-null  object
 11  early_access    32135 non-null  float64
 12  id              32133 non-null  float64
 13  metascore       2607 non-null   float64
 14  developer       28836 non-null  object
 15  user_id         88310 non-null  object
 16  steam_id        88310 non-null  float64
 17  items           88310 non-null  object
 18  items_count     88310 non-null  float64
dtypes: float64(6), object(13)
memory usage: 18.4+ MB

In [58]:
df_users_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88310 entries, 0 to 88309
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      88310 non-null  object
 1   items_count  88310 non-null  int64
 2   steam_id     88310 non-null  object
 3   user_url     88310 non-null  object
 4   items        88310 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.4+ MB

In [98]:
# df_func_1 = pd.merge(df_steam_games, df_users_reviews, on=["user_id"], how="outer")
# df_f1 = pd.merge(df_merged, df_3, on=["user_id"])
del df_func_1


# df_merged = pd.merge(df_1, df_2, on=["user_id"])
# df_merged = pd.merge(df_merged, df_3, on=["user_id"])

In [133]:
df1 = df_steam_games[['user_id', 'price', 'items_count']]
# df1.dropna(subset=['price'], inplace = True)
# df1 = df1.dropna()

In [135]:
df1.head(2)
df1.info()
df1.sample(frac=1)

<class 'pandas.core.frame.DataFrame'>
Index: 120445 entries, 0 to 120444
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      88310 non-null  object
 1   price        30758 non-null  object
 2   items_count  88310 non-null  float64
dtypes: float64(1), object(2)
memory usage: 3.7+ MB

                     user_id price  items_count
111609                  None  2.99          NaN
33027   08254669696969696969  None          0.0
120252                  None  9.99          NaN
118581                  None  2.99          NaN
64023      76561198068523806  None         37.0
...                      ...   ...          ...
84215      76561198099173472  None         46.0
82224      76561198094871177  None          1.0
70485      76561198075084798  None         52.0
79124      76561198089632956  None         20.0
94185                   None  3.99          NaN

[120445 rows x 3 columns]

In [100]:
df2 = df_users_reviews[['user_id', 'recommend',]]

In [64]:
df2.head(2)

             user_id  recommend
0  76561197970982479          1
1  76561197970982479          1

In [119]:
df_func_1 = pd.merge(df1, df2, on=["user_id"], how="left")

In [132]:
df_func_1.sample(frac=1)
# df_func_1.info()

                  user_id price  items_count  recommend
117461             Rikoko  None         16.0        1.0
127696               None  9.99          NaN        NaN
22412             MAC_CAB  None        256.0        1.0
22900   76561198089324283  None         48.0        NaN
84037              Yosche  None        140.0        1.0
...                   ...   ...          ...        ...
46153             Feytico  None         19.0        1.0
86473            Big_Kill  None         67.0        0.0
75365   76561198018486965  None         78.0        NaN
101212  76561198073303437  None          5.0        NaN
59134               Pilth  None        170.0        NaN

[155724 rows x 4 columns]

In [ ]:
def userdata(id):
    res = df["user_id"] == "id"

In [134]:
id = "76561197970982479"
# h = df_func_1[df_func_1["user_id"] == id]
h = df1[df1["user_id"] == id]
h.price.sum()

0

In [105]:
df_func_1.sample(frac=1)

                   user_id price  items_count  recommend
5720     76561198059311950  None         48.0        NaN
22132    76561198000818212  None          0.0        NaN
23222    76561198075354292  None         29.0        NaN
121944   76561198133303929  None         11.0        NaN
117955  zombieKillerFTWBro  None          1.0        NaN
...                    ...   ...          ...        ...
56398           PenguinsOP  None         97.0        1.0
149082                None  4.99          NaN        NaN
147122                None  4.99          NaN        NaN
49912              SyvWolf  None        138.0        1.0
20359    76561198025505018  None         26.0        NaN

[155739 rows x 4 columns]

In [153]:
# print(df_steam_games[["user_id", "price"]].tail(400).to_string())
# df_steam_games[(df_steam_games["price"] != None) & (df_steam_games["user_id"] != None)]
df_steam_games[df_steam_games["price"] != "None"]
df_steam_games

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,discount_price,specs,price,early_access,id,metascore,developer,user_id,steam_id,items,items_count
0,None,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,None,76561197970982479,7.656120e+16,"[{'item_id': '10', 'item_name': 'Counter-Strik...",277.0
1,None,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,None,js41637,7.656120e+16,"[{'item_id': '10', 'item_name': 'Counter-Strik...",888.0
2,None,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,None,evcentric,7.656120e+16,"[{'item_id': '1200', 'item_name': 'Red Orchest...",137.0
3,None,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,None,Riot-Punch,7.656120e+16,"[{'item_id': '10', 'item_name': 'Counter-Strik...",328.0
4,None,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,None,doctr,7.656120e+16,"[{'item_id': '300', 'item_name': 'Day of Defea...",541.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"['Casual', 'Indie', 'Simulation', 'Strategy']",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"['Strategy', 'Indie', 'Casual', 'Simulation']",http://steamcommunity.com/app/773640/reviews/?...,1.49,"['Single-player', 'Steam Achievements']",1.99,0.0,773640.0,NaN,"Nikita ""Ghost_RUS""",None,NaN,None,NaN
120441,Sacada,"['Casual', 'Indie', 'Strategy']",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"['Strategy', 'Indie', 'Casual']",http://steamcommunity.com/app/733530/reviews/?...,4.24,"['Single-player', 'Steam Achievements', 'Steam...",4.99,0.0,733530.0,NaN,Sacada,None,NaN,None,NaN
120442,Laush Studio,"['Indie', 'Racing', 'Simulation']",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"['Indie', 'Simulation', 'Racing']",http://steamcommunity.com/app/610660/reviews/?...,1.39,"['Single-player', 'Steam Achievements', 'Steam...",1.99,0.0,610660.0,NaN,Laush Dmitriy Sergeevich,None,NaN,None,NaN
120443,SIXNAILS,"['Casual', 'Indie']",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"['Indie', 'Casual', 'Puzzle', 'Singleplayer', ...",http://steamcommunity.com/app/658870/reviews/?...,NaN,"['Single-player', 'Steam Achievements', 'Steam...",4.99,0.0,658870.0,NaN,"xropi,stev3ns",None,NaN,None,NaN
120444,None,None,Maze Run VR,None,http://store.steampowered.com/app/681550/Maze_...,None,"['Early Access', 'Adventure', 'Indie', 'Action...",http://steamcommunity.com/app/681550/reviews/?...,NaN,"['Single-player', 'Stats', 'Steam Leaderboards...",4.99,1.0,681550.0,NaN,None,None,NaN,None,NaN

In [15]:
df_steam_games.duplicated().sum()
df_steam_games.dtypes.value_counts()
df_steam_games.isnull().any()
df_steam_games.isnull().sum()

publisher          96372
genres             91593
app_name           88312
title              90360
url                88310
release_date       90377
tags               88473
reviews_url        88312
discount_price    120220
specs              88980
price              89687
early_access       88310
id                 88312
metascore         117838
developer          91609
user_id            32135
steam_id           32135
items              32135
items_count        32135
dtype: int64